body{
    overflow: hidden;
}

.mySwiperMobile{
    border: 1px solid black;
    width: 100%;
    overflow: hidden;
}

.mySwiperMobile .swiper-wrapper{ 
    overflow: hidden;
}

.mySwiperMobile .swiper-slide{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
}

.mySwiperMobile .contenedor{
    position: relative;
    border: 1px solid black;
}

.mySwiperMobile .contenedor img{
    width: 212px;
}

.mySwiperMobile .contenedor .filtro{
    position: absolute;
    top: 0px;
    left: 0px;
}

.mySwiperMobile .contenedor .boton-b2{
    position: absolute;
    bottom: 80px;
    left: 30%;
    width: 40%;
    padding: 20px 0;
    z-index: 3;
    background-color: red;
}