body{
    margin: 0;
    background:  #FAFAFA;
}

/* Linea superior envio gratis */
.header-top{
    background-color: #411016;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 11px;
}

/*Texto linea superior*/
.header-top h5{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

/* contenedor logo, barra busqueda, iconos*/
.logo-busqueda{
    padding: 25px;
    display: flex;
    justify-content: center;
/*     border: solid 1px black; */
    position: relative;
    background-color: #F4F4F4;
}

/*Contenedor barra de busqueda*/
.busqueda{
    position: relative;
    display: flex;
    justify-content: center;
   /*  border: solid 1px red; */
    width: 100%;
    padding: 0;
    width: 40%;
}

/*Barra de busqueda*/
.busqueda input{
    padding: 11px;
    border-radius: 20px;
    width: 100%;
    right: 30%;
    padding-left: 40px;
    /* text-align: center; */
}

.icono-b{
    position: absolute;
    left: 1%;
    top: 22%;
}

/*Logo*/
.logo-busqueda .logo-juan-valdez{
    position: absolute;
    top: 0;
    left: 8%;
    width: 10%;
    z-index:3 ;
}

/*Contenedor iconos*/
.iconos{
    position: absolute;
/*     border: solid 1px green; */
    right: 0px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5%;
    right: 5%;
}

/*Contenedor lista-menu */
.nav{
    padding: 17px;
    display: flex;
/*     border: 1px solid darkviolet; */
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    background-color: #F4F4F4;
    max-height: 4vh;
}

/*Lista-menu*/
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

/*Items lista-menu*/
.nav li{
    margin: 0;
    color: #411016;
    list-style: none;
/*     border: 1px solid darkviolet; */
    font-family: 'Lato', sans-serif;
    max-height: 30px;
}

/*texto lista-menu*/
.nav li h4{
    margin: 0;
    padding: 0;
}

.nav .submenuppal{
    position: relative;
}

.nav .submenuppal .submenu1{
    display: none;
    position: relative;
    flex-flow: column;
    flex: left;
    z-index: 4;
    background-color: #F4F4F4;
    padding: 20px 40px 30px 40px;
    line-height: 50px;
    margin: 0;
    list-style-position:inside;
}
.nav .submenuppal:hover .submenu1{
    margin: 0;
    display: flex;
    position: absolute;
    left: -40px;
    width: 200%;
}

.nav .submenuppal .submenu1 li a{
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    color: #411016;
}

.nav .submenuppal .submenu1 li:hover a{
    margin: 0;
    padding: 0;
    color: #D70021;
    font-weight: 700;
    border-bottom: solid 3px #D70021;
    text-decoration: none;
}

/*Contenedor banner ppal*/
.contenedor-banner-ppal{
    position: relative ;
}

/*Imagen banner principal*/
.banner-ppal{
    width: 100%;
}

/* .ruleta-sig{
    background-color: ivory;
}
 */
/*Letra Colombia, disfruta su sabor*/
.contenedor-banner-ppal .colombia{
    margin: 0;
    position: absolute;
    top: 19%;
    left: 12%;
    width: 30%;
    z-index: 3;
}

/* boton conoce mas*/
.contenedor-banner-ppal .boton2{
    position: absolute;
    top: 72%;
    left: 12%;
    background-color: #D70021;
    border: solid 1px #D70021;
    border-radius: 25px;
    width: 8.3%;
    padding: 0.7%;
    text-align: center;
    z-index: 3;
}

.contenedor-banner-ppal .boton2:hover{
    background-color: white;

}
/*letra y url boton conoce mas*/
.contenedor-banner-ppal .boton2 a{
    margin: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    width: auto;
    text-decoration: none;
    font-size: 80%;
    display: block; 
}

.contenedor-banner-ppal .boton2:hover a{
    color: #D70021;
}

/*ruleta*/
.swiper-button-next{
    background-color: #F2F2F2;
    padding: 2px 10px;
    width: 15px;
    height: 30px;
    mix-blend-mode: lighten;
    color: #411016;
    border-radius: 30px;
    overflow: hidden;
}

.swiper-button-prev{
    background-color: #F2F2F2;
    mix-blend-mode: lighten;
    padding: 2px 10px;
    width: 15px;
    height: 30px;
    color: #411016;
    border-radius: 30px;
    overflow: hidden;
}

.swiper-pagination-bullet{
    border: 1px solid white;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active{
    border: 1px solid #C5292C;
    height: 12px;
    width: 12px;
    background: #C5292C;
}

/*banner 2*/

.banner2{
    padding: 50px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.banner2-1{
    border-radius: 30px;
    width: 100%;
}

.contenedor-b-2-1{
    position: relative;
    display: flex;
    flex-flow: row-reverse;
    text-align: right;
    border-radius: 30px;
    width: 24.4%;
}

.contenedor-b-2-1 .filtro{
    position: absolute;
    border-radius: 30px;
    display: none;
    height: 100%;
    width: 100%;
}
.contenedor-b-2-1:hover .filtro{
    display: block;
}

.contenedor-b-2-1 p{
    margin: 0;
    position: absolute;
    top: 10%;
    right: 11%;
    font-size: 48px;
    line-height: 40px;
    width: 60%;
    color: #D70021;
    font-family: 'Bebas Neue', cursive;
    z-index: 3;
}

/* boton conoce mas*/
.contenedor-b-2-1 .boton-b-2-1{
    position: absolute;
    top: 85%;
    left: 20%;
    background-color: #D70021;
    border: solid 1px #D70021;
    border-radius: 25px;
    width: 60%;
    padding: 3% 0;
    text-align: center;
    z-index: 3;
    display: none;
}

.contenedor-b-2-1 .boton-b-2-1:hover{
    background-color: white;

}
/*letra y url boton conoce mas*/
.contenedor-b-2-1 .boton-b-2-1 a{
    margin: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    width: auto;
    text-decoration: none;
    font-size: 80%;
    display: block; 
}

.contenedor-b-2-1 .boton-b-2-1:hover a{
    color: #D70021;
}

.contenedor-b-2-1:hover .boton-b-2-1{
    display: block;
}

/*banner 2-2*/
.banner2-2{
    border-radius: 30px;
    width: 100%;
}

.contenedor-b-2-2{
    position: relative;
    display: flex;
    text-align: left;
    border-radius: 30px;
    width: 24.4%;
    margin: 0 19px ;
}

.contenedor-b-2-2 .filtro{
    position: absolute;
    border-radius: 30px;
    display: none;
    height: 100%;
    width: 99%;
}
.contenedor-b-2-2:hover .filtro{
    display: block;
}

.contenedor-b-2-2 p{
    margin: 0;
    position: absolute;
    top: 10%;
    left: 11%;
    font-size: 48px;
    line-height:40px;
    width: 50%;
    color: white;
    font-family: 'Bebas Neue', cursive;
    z-index: 3;
}

.contenedor-b-2-2 p span{
    display: inline-block;
    background-color: #D70021;
    font-size: 25.36px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 3px;
}

/* boton conoce mas*/
.contenedor-b-2-2 .boton-b-2-2{
    position: absolute;
    top: 85%;
    left: 20%;
    background-color: #D70021;
    border: solid 1px #D70021;
    border-radius: 25px;
    width: 60%;
    padding: 3% 0;
    text-align: center;
    z-index: 3;
    display: none;
}

.contenedor-b-2-2 .boton-b-2-2:hover{
    background-color: white;

}
/*letra y url boton conoce mas*/
.contenedor-b-2-2 .boton-b-2-2 a{
    margin: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    width: auto;
    text-decoration: none;
    font-size: 80%;
    display: block; 
}

.contenedor-b-2-2 .boton-b-2-2:hover a{
    color: #D70021;
}

.contenedor-b-2-2:hover .boton-b-2-2{
    display: block;
}

/*Banner 2-3*/

.banner2-3{
    border-radius: 30px;
    width: 100%;
}

.contenedor-b-2-3{
    position: relative;
    display: flex;
    flex-flow: row-reverse;
    text-align: left;
    border-radius: 30px;
    width: 24.4%;
}

.contenedor-b-2-3 .filtro{
    position: absolute;
    border-radius: 30px;
    display: none;
    height: 100%;
    width: 100%;
}
.contenedor-b-2-3:hover .filtro{
    display: block;
}

.contenedor-b-2-3 p{
    margin: 0;
    position: absolute;
    top: 44%;
    left: 5%;
    font-size: 48px;
    line-height: 40px;
    width: 80%;
    color: white;
    font-family: 'Bebas Neue', cursive;
    z-index: 3;
}

.contenedor-b-2-3 p span{
    display: inline-block;
    background-color: #D70021;
    font-size: 25.36px;
    padding: 0 15px;

}

/* boton conoce mas*/
.contenedor-b-2-3 .boton-b-2-3{
    position: absolute;
    top: 85%;
    left: 20%;
    background-color: #D70021;
    border: solid 1px #D70021;
    border-radius: 25px;
    width: 60%;
    padding: 3% 0;
    text-align: center;
    z-index: 3;
    display: none;
}

.contenedor-b-2-3 .boton-b-2-3:hover{
    background-color: white;

}
/*letra y url boton conoce mas*/
.contenedor-b-2-3 .boton-b-2-3 a{
    margin: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    width: auto;
    text-decoration: none;
    font-size: 80%;
    display: block; 
}

.contenedor-b-2-3 .boton-b-2-3:hover a{
    color: #D70021;
}

.contenedor-b-2-3:hover .boton-b-2-3{
    display: block;
}

.h1-cat-ppal{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0;
}

.h1-cat-ppal .texto-cat-ppal{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.categorias-principales{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.cat-ppal-ruleta .mySwiper2{
    width: 90%;
    padding: 30px !important;
    display: flex;
    justify-content: space-around;
}

.cat-ppal-ruleta .mySwiper2 .swiper-pagination-bullet{
    border: 1px solid black;
    width: 12px;
    height: 12px;
}

.cat-ppal-ruleta .mySwiper2 .swiper-pagination-bullet-active{
    border: 1px solid #C5292C;
    height: 12px;
    width: 12px;
    background: #C5292C;
}
.cat-ppal-ruleta .mySwiper2 .swiper-wrapper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 18%;
    height: 30vh;
    border-radius: 30px;
    padding: 0;
}

.cat-ppal-ruleta .mySwiper2 .swiper-wrapper .swiper-slide .con-img-sw2{
    position: relative;
    width: 65%;
    height: 65%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border:2px solid #F2F2F2;
    border-top: 0;
    border-bottom: 4px solid #F2F2F2;
}

.cat-ppal-ruleta .mySwiper2 .swiper-wrapper .swiper-slide .con-img-sw2 img{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin: 0;
}

.cat-ppal-ruleta .mySwiper2 .swiper-wrapper .swiper-slide .con-img-sw2 h2{
    position: absolute;
    bottom: 5px;
    margin: 0;
    font-family: 'Lato', sans-serif; 
    font-size: 20px; 
    font-style: normal; 
    font-weight: 700; 
    letter-spacing: 0em;
}

/*ruleta 3*/
.h1-rec{
    margin-top: 40px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0;
}

.h1-rec .texto-rec{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.mySwiper3 {
    width: 90%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.mySwiper3 .swiper-slide{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: relative;
    width: 30%;
    height: 65vh;
    margin: 0;
    padding: 0;
}

.mySwiper3 .swiper-slide .cont-img{
    position: relative;
    background-color: white;
    width: 80%;
    height: 55%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper3 .swiper-slide img{
    width: 100%;
}

.mySwiper3 .swiper-slide .cont-img .filtro{
    position: absolute;
    left: 0;
    bottom: 0px;
    text-align: center;
    display: none;
    color: white;
}

.mySwiper3 .swiper-slide .cont-img .dcto{
    position: absolute;
    top: 5%;
    left: 5%;
    background: #C5292C;
    padding: 2%;
    border-radius: 13.5px;
    width: 40%;
    text-align: center;
}

.mySwiper3 .swiper-slide .cont-img .dcto h4{
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: white;
}

.mySwiper3 .swiper-slide:hover .dcto{
    display: none;
}

.mySwiper3 .swiper-slide .cont-fav{
    position: absolute;
    top: 8%;
    right: 8%;
}

.mySwiper3 .swiper-slide .cont-fav .icono-fav-rec2{
    display: none;
}

.mySwiper3 .swiper-slide:hover .icono-fav-rec2{
    display: block;
}

.mySwiper3 .swiper-slide:hover .icono-fav-rec{
    display: none;
}

.mySwiper3 .swiper-slide .cont-img .texto{
    left: 35%;
    font-family: 'Lato', sans-serif;
}

.mySwiper3 .swiper-slide:hover .filtro{
    display: block;
}

.mySwiper3 .swiper-slide .textos-recomendados{
    margin: 0;
    margin-top: 40px;
    padding: 0%;
    position: absolute;
    width: 70%;
    height: 40%;
    text-align: center;
    bottom: 0%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.mySwiper3 .swiper-slide .textos-recomendados h3{
    margin: 0;
}

.mySwiper3 .swiper-slide .textos-recomendados .cat{
    color: #777777;
    margin: 10px 0;
}

.mySwiper3 .swiper-slide .textos-recomendados .precios{
    margin: 0;
    display: flex;
    justify-content: center;
}

.mySwiper3 .swiper-slide .textos-recomendados .precios h2{
    margin: 0;
}

.mySwiper3 .swiper-slide .textos-recomendados .precios p{
    margin: 0;
    color: #BDBDBD;
    text-decoration: line-through;
    margin: 5px 0;
    margin-right: 20px;
}

.mySwiper3 .swiper-slide:hover .textos-recomendados .precios p{
    display: none;
}

.mySwiper3 .swiper-slide .textos-recomendados .boton-agregar{
    margin: 0;
    background-color: #D70021;
    border-radius: 25px;
    padding: 5%;
    width: 70%;
    text-align: center;
    margin: 8% 10% 0% 10%;
}

.mySwiper3 .swiper-slide:hover .textos-recomendados .boton-agregar{
    background: #411016;
}
.mySwiper3 .swiper-slide .textos-recomendados .boton-agregar a{
    color: white;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 100%;
    margin: 0;
}

.mySwiper3 .swiper-slide .textos-recomendados .boton-agregar a h4{
    margin: 0;
}


/*cafe ideal*/
.cafeid{
    position: relative;
}

.cafeid .cafe-ideal{
    position: relative;
    width: 98%;
    margin: 0 1%;
}


.cafeid .tci{
    position: absolute;
    left: 20%;
    top: 18%;
    width: 14%;
}

.cafeid .tci p{
    margin: 0;
    font-size: 78.86px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    line-height: 79px;
}

footer{
    background-color: #F4F4F4;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 511px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.pie-sup{
    width: 90%;
    height: 5%;
    margin: 0 auto;
    position: relative;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom: 1px solid #BDBDBD;
}

.pie-sup .sub{
    display: flex;
    flex-flow: wrap;/* 
    position: absolute; */
    top: 30px;
    left: 105px;
    justify-content: start;
    align-items: center;
    width: 30%;
    font-family: 'Lato', sans-serif;
}

.pie-sup .sub h2{
    margin: 0;
    color: #C5292C;
    margin-right: 5px;
}

.pie-sup .sub h3{
    margin: 0;
    color: #411016;
}

.int-correo{
    width: 40%;
    display: flex;
    margin: 0 20px;
    position: relative;
}

.int-correo #email{
    width: 75%;
    height: 45px;
    margin: 0;
    border: 1px solid #BDBDBD;
    padding-left: 25px;
}

/* .int-correo .boton{
    width: 30%;
    margin: 0;
    background-color: #C5292C;
    border: none;
    border-top-right-radius: 30px;
    text-emphasis-color: white;
} */

.int-correo .boton-f{
    justify-content: center;
    background-color: #C5292C;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    width: 25%;
    
}

.int-correo .boton-f a{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 100%;
}

.int-correo .boton-f a h4{
    margin: 0;
}

.int-correo .acepta-terminos{
    position: absolute;
    bottom: -30px;
}

.int-correo .acepta-terminos #acepta{
    color: #C5292C;
}

.pie-sup .iconos-redes{
    position: relative;
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.pie-sup .iconos-redes .siguenos h2{
    color: #411016;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.pie-sup .iconos-redes .iconos-red{
    position: relative;
    display: flex;
    margin: 0;
    padding: 10px;
}

.pie-sup .iconos-redes .iconos-red .iconos-red-hover{
    position: relative;
}

.pie-sup .iconos-redes .iconos-red .iconos-red-hover .rojo{
    display: none;
    position: absolute;
    top: 0px;
}

.pie-sup .iconos-redes .iconos-red .a:hover .a{
    display: block;
}

.pie-sup .iconos-redes .iconos-red .b:hover .b{
    display: block;
}

.pie-sup .iconos-redes .iconos-red .c:hover .c{
    display: block;
}

.pie-sup .iconos-redes .iconos-red .d:hover .d{
    display: block;
}

.pie-sup .iconos-redes .iconos-red .e:hover .e{
    display: block;
}
.pie-sup .iconos-redes .iconos-red img{
    margin: 0 10px;
}

.medio{
    margin-top: 20px;
    width: 100%;
    height: 40%;
    display: flex;
}


.pie-mid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.5%;
    height: 100%;
}

.contacto{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 20%;
    justify-content: space-between;
    padding: 15px;
}

.contacto a{
    text-decoration: none;
}

.contacto h2{
    margin: 0;
    color: #411016;
    font-family: 'Lato', sans-serif;
}

.contacto h5{
    margin: 0;
    color: #411016;
    font-family: 'Lato', sans-serif;
}

.contacto h5:hover{
    color: #C5292C;
}

.contacto .whats{
    display: flex;
    flex-flow: wrap;
}
.contacto .whats .num1 h5{
    margin: 0;
    margin-left: 20px;
}

/* .contacto h5{
    display: flex;
    flex-flow: column;
    color: #411016;

} */

.legal {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 21%;
    height: 102%;
    justify-content: space-between;
    padding: 15px;
}

.legal a{
    text-decoration: none;
}

.legal h2{
    margin: 0;
    color: #411016;
    font-family: 'Lato', sans-serif;
}

.legal h5{
    margin: 0;
    color: #411016;
    font-family: 'Lato', sans-serif;
}

.legal h5:hover{
    color: #C5292C;
}

.ubicacion{
    padding: 0;
    width: 20%;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
}

.ubicacion .titulo2{
    margin: 0;
    padding: 0;
    width: 100%;
}

.ubicacion .titulo2 h2{
    margin: 0;
    padding: 0;
    color: #411016;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

.ubicacion .desplegable{
    width: 100%;
    display: flex;
    padding: 5px 0;
}

.ubicacion .desplegable .imagen{
    width: 10%;
}

.ubicacion .desplegable .tienda-cerca{
    background-color: #F4F4F4;
    border: none;
    display: inline-block;
    list-style: none;
    color: #411016;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.bajo{
    text-align: center;
    padding: 0;
    margin-top: 60px;
}

.bajo .participantes{
    margin: 0;
}

.bajo .participantes .derechos-bajo{
    margin: 0;
}
